@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/*================== 
theme color 
==================*/
:root {
  --primary-color: #1570ef;
  --title-color: #000000;
  --text-color-1: #282828;
  --text-color-2: #fcfcfd;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  overflow-x: hidden;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* navbar start */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.navbar-container {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 24px 0px #0000000d;
}
.navbar-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-img {
  max-width: 70px;
}
.logo-img img {
  max-width: 100%;
  object-fit: cover;
}

.btns-link {
  background-color: var(--primary-color);
  color: var(--text-color-2) !important;
  border: none;
  border-radius: 12px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
/* navbar end */

/* banner css start */
.banner-container {
  position: relative;
  width: 100%;
  height: 900px;
}
.banner-bg {
  background-color: #f6f6f6;
  height: 500px;
}
.banner-content {
  display: flex;
  gap: 3rem;
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-left {
  width: 55%;
  position: relative;
}

.active-content {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 2rem;
}

.title-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}
.title-text-color {
  color: #5956e9;
}
.number-job {
  font-size: 60px;
}
.line-img {
  max-width: 120px;
  position: absolute;
  right: -30px;
  top: 11.5rem;
}
.line-img img {
  max-width: 100%;
}
.banner-img {
  width: 100%;
  margin-top: 4rem;
}
.banner-img img {
  width: 100%;
}
.banner-right {
  width: 45%;
}
.form-content {
  box-shadow: 0px 55.05px 33.51px 0px #c8c8c840;
  border-radius: 10px;
  background-color: #ffffff;
}
.form-header {
  background-color: #000719;
  color: var(--text-color-2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.announcement-icon {
  max-width: 20px;
}
.announcement-icon img {
  max-width: 100%;
}
.form-header p {
  font-size: 16px;
  font-weight: 600;
}
.form-card {
  padding: 3rem 2rem;
}
.input-content {
  margin-bottom: 20px;
}
.input-field {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 12px 15px;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
}
.input-field:focus {
  outline: 0;
  box-shadow: none;
}
.input-field::placeholder {
  color: #808080;
}
.phone-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding-right: 25px;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
}

.country-code {
  font-size: 14px;
  margin-right: 10px;
  color: #808080;
  border-right: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 12px;
}

.phone-input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  background-color: transparent;
}

.phone-input::placeholder {
  color: #808080;
}
.password-content {
  position: relative;
}
.password-field {
  padding-right: 40px;
}
.eye-icon {
  max-width: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.submit-btn {
  background-color: var(--primary-color);
  border: 0px;
  color: #ffffff;
  width: 100%;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.button-content {
  margin-top: 20px;
}
.google-btn {
  background-color: #d1e9ff;
  border: 0px;
  color: var(--primary-color);
  width: 100%;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.google-btn img {
  max-width: 20px;
}
.login-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
.login-content p {
  font-size: 14px;
  color: #98a2b3;
}
.login-content a {
  font-size: 14px;
  color: var(--primary-color);
}

/* banner css end */

/* slider css start */
.slider-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2rem;
}
.slider-img {
  max-width: 150px;
}
.slider-img img {
  max-width: 100%;
}

/* slider css end */

/* about css start */
.about-container {
  background-image: url("../assets/img/Blob.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.about-flex {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-top: 5rem;
}
.about-left {
  width: 45%;
}
.about-left img {
  width: 100%;
}
.about-right {
  width: 55%;
}
.about-content {
  margin-top: 2rem;
}
.about-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about-card-1 {
  margin-bottom: 2rem;
}
.about-card img {
  max-width: 50px;
}
.about-card-content {
  color: var(--text-color-1);
}
.about-card-content h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
.about-card-content p {
  font-size: 14px;
}
/* about css end */

/* client review css start */
.clinet-container {
  background-image: url("../assets/client/client-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.client-flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.client-left {
  width: 30%;
}
.client-left p {
  margin-top: 120px;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-1);
}
.client-right {
  width: 70%;
}
.client-gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.client-card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.client-img img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.client-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-1);
  margin-bottom: 8px;
}
.client-dig {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--text-color-1);
  font-weight: 400;
}
.client-start {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.client-start img {
  max-width: 15px;
}
.client-start i {
  color: #ffa722;
  font-size: 14px;
}
.client-text {
  color: var(--text-color-1);
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 24px;
}
.client-gird-card {
  background-color: #fff;
  box-shadow: 3px 5.05px 6.51px 3px #c8c8c840;
  padding: 18px;
  border-radius: 8px;
}
/* client review css end */

/* small device  */

@media only screen and (min-width: 250px) and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .banner-container {
    width: 100%;
    height: 1270px;
    position: relative;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner-left {
    width: 100%;
  }
  .banner-right {
    width: 100%;
  }
  .about-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
  }
  .title-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }
  .number-job {
    font-size: 26px;
  }
  .line-img {
    display: none;
  }
  .active-content {
    margin-bottom: 1rem;
    font-size: 18px;
  }
  .client-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .client-left {
    width: 100%;
  }
  .client-right {
    width: 100%;
  }
  .clinet-container {
    padding-top: 5rem;
  }
  .client-left p {
    margin-top: 15px;
  }
  .client-gird {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner-container {
    width: 100%;
    height: 1500px;
    position: relative;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner-left {
    width: 100%;
  }
  .banner-right {
    width: 100%;
  }
  .line-img {
    display: none;
  }
  .title-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
  }
  .number-job {
    font-size: 30px;
  }
  .client-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .client-left {
    width: 100%;
  }
  .client-right {
    width: 100%;
  }
  .clinet-container {
    padding-top: 5rem;
  }
  .client-left p {
    margin-top: 15px;
  }
  .client-gird {
    grid-template-columns: 1fr;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .banner-container {
    width: 100%;
    height: 1630px;
    position: relative;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner-left {
    width: 100%;
  }
  .banner-right {
    width: 100%;
  }
  .line-img {
    display: none;
  }
  .client-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .client-left {
    width: 100%;
  }
  .client-right {
    width: 100%;
  }
  .clinet-container {
    padding-top: 5rem;
  }
  .client-left p {
    margin-top: 15px;
  }
  .client-gird {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .banner-container {
    width: 100%;
    height: 1750px;
    position: relative;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner-left {
    width: 100%;
  }
  .banner-right {
    width: 100%;
  }
  .line-img {
    display: none;
  }
  .client-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .client-left {
    width: 100%;
  }
  .client-right {
    width: 100%;
  }
  .clinet-container {
    padding-top: 5rem;
  }
  .client-left p {
    margin-top: 15px;
  }
  .client-gird {
    grid-template-columns: 1fr 1fr;
  }
}
