@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
/*================== 
theme color 
==================*/
:root {
    --primary-color: #6966ff;
    --title-color: #000000;
    --text-color-1: #282828;
    --text-color-2: #ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
    overflow-x: hidden;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* navbar start */
.navbar-container {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navbar-container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img {
    max-width: 70px;
}
.logo-img img {
    max-width: 100%;
    object-fit: cover;
}

.btns-link {
    background-color: var(--primary-color);
    color: var(--text-color-2) !important;
    border: none;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

/* navbar end */

/* banner css start */
.banner-container {
    width: 100%;
    background-image: url('../assets/banner/bg-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.active-content {
    background-color: #f7f9fb;
    border-radius: 18px;
    padding: 15px 30px;
}
.vacancie-number {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 800;
}
.vacancie-text {
    font-size: 16px;
    font-weight: 700;
}
.title-text {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
}
.title-text-color {
    color: var(--primary-color);
}
.banner-btn-wrpper {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.banner-icon {
    max-width: 30px;
}
.banner-icon img {
    max-width: 100%;
    object-fit: cover;
}
.announcement-text {
    font-size: 16px;
    color: var(--title-color);
    font-weight: 600;
}
/* banner css end */

/* slider css start */
.slider-container {
    margin-bottom: 6rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.slider-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-top: 15px;
    margin-bottom: 15px;
}
.slider-img {
    max-width: 150px;
}
.slider-img img {
    max-width: 100%;
}
.slider-btn {
    background-color: #f7f9fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 0;
    color: #2f2f2f;
}

.left-btn {
    position: absolute;
    top: 30%;
    left: -3rem;
}
.right-btn {
    position: absolute;
    top: 30%;
    right: -3rem;
}
.slider-btn:hover,
.active-btn {
    background-color: var(--primary-color);
    color: #ffffff;
}
/* slider css end */

/* metting css start */
.metting-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.metting-left {
    width: 50%;
}
.metting-right {
    width: 50%;
}
.metting-contnet {
    color: var(--text-color-1);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.content-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/* metting css end */

/* client review css start */
.clinet-container {
    background-image: url('../assets/client/Shadow.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.client-gird {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 4rem;
}
.client-card {
    display: flex;
    gap: 15px;
}
.client-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.client-img img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}
.clone-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
}
.client-name {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color-1);
    margin-bottom: 8px;
}
.client-dig {
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--text-color-1);
    font-weight: 400;
}
.client-start {
    margin-bottom: 18px;
}
.client-start i {
    color: #ffa722;
    font-size: 14px;
}
.client-text {
    color: var(--text-color-1);
    margin-right: 30px;
}
/* client review css end */

/* job css start */
.job-container {
    background-image: url('../assets/jobs/bg-img.png');
    background-repeat: no-repeat;
    margin-bottom: 12rem;
    border-radius: 15px;
    height: 300px;
    display: flex;
    align-items: center;
}
.job-wrapper {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    gap: 3rem;
    position: relative;
}
.job-left {
    width: 600px;
}
.job-right {
    width: 540px;
    height: 100%;
}
.job-img {
    width: 100%;
    height: 377px;
    position: absolute;
    top: -90px;
    right: -60px;
}

.job-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.job-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}
.job-btn a {
    display: inline-block;
    background-color: var(--text-color-2);
    color: var(--title-color) !important;
    border: none;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.text-job {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color-2);
}
.text-job span {
    font-size: 14px;
    font-weight: 600;
}
.job-text-content {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* job css end */

/* footer css start */
.footer {
    border-top: 2px solid #dcdcdc;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--text-color-2);
}
.footer-img {
    max-width: 60px;
}
.footer-img img {
    max-width: 100%;
    object-fit: cover;
}
.footer-btn {
    display: inline-block;

    color: var(--text-color-1) !important;
    border: 1px solid #dcdcdc;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

/* small device  */

@media only screen and (min-width: 250px) and (max-width: 575px) {
    .banner-content {
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .slider-btn {
        background-color: #f7f9fb;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 0;
        color: #2f2f2f;
    }
    .left-btn {
        position: absolute;
        top: 0%;
        left: 0rem;
    }
    .right-btn {
        position: absolute;
        top: 0%;
        right: 0rem;
    }
    .title-text {
        font-size: 28px;
        line-height: 38px;
    }
    .active-content {
        background-color: #f7f9fb;
        border-radius: 18px;
        padding: 10px 15px;
    }
    .vacancie-number {
        font-size: 14px;
    }
    .vacancie-text {
        font-size: 12px;
    }
    .announcement-text {
        font-size: 14px;
    }
    .banner-btn-wrpper {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .metting-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .metting-right {
        width: 100%;
    }
    .metting-left {
        width: 100%;
    }
    .slider-container {
        margin-bottom: 3rem;
    }
    .btns-link {
        font-size: 14px;
    }
    .client-gird {
        grid-template-columns: 1fr;
    }
    .client-text {
        margin-right: 0px;
    }
    .clinet-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .job-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        gap: 2rem;
    }
    .job-left {
        width: 100%;
    }
    .job-right {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .job-img {
        width: 100%;
        height: 100%;
    }
    .job-img img {
        width: 100%;
        height: 100%;
    }
    .job-text-content {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .job-container {
        height: 100%;
        margin-bottom: 6rem;
    }
    .job-img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
        right: 70px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .banner-content {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .left-btn {
        position: absolute;
        top: 0%;
        left: -3rem;
    }
    .right-btn {
        position: absolute;
        top: 0%;
        right: -3rem;
    }
    .title-text {
        font-size: 30px;
        line-height: 44px;
    }
    .vacancie-number {
        font-size: 16px;
    }
    .vacancie-text {
        font-size: 14px;
    }
    .metting-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .metting-right {
        width: 100%;
    }
    .metting-left {
        width: 100%;
    }
    .slider-container {
        margin-bottom: 4rem;
    }
    .client-gird {
        grid-template-columns: 1fr;
    }
    .client-text {
        margin-right: 0px;
    }
    .clinet-container {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .job-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        gap: 2rem;
    }
    .job-left {
        width: 100%;
    }
    .job-right {
        width: 100%;
        position: relative;
    }
    .job-text-content {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .job-container {
        height: 100%;
        margin-bottom: 8rem;
    }
    .job-img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
        right: 100px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .left-btn {
        position: absolute;
        top: 0%;
        left: -3rem;
    }
    .right-btn {
        position: absolute;
        top: 0%;
        right: -3rem;
    }
    .title-text {
        font-size: 38px;
        line-height: 48px;
    }
    .client-text {
        margin-right: 0px;
    }
    .job-container {
        height: 100%;
    }
    .job-wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .job-left {
        width: 100%;
        position: relative;
    }
    .job-right {
        width: 100%;
    }

    .job-img {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0px;
        right: 150px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .job-img {
        width: 100%;
        height: 378px;
        position: absolute;
        top: -90px;
        right: 110px;
    }
}
